<div class="form-card">
    <div class="title-card">
        <i class="uil uil-keyhole-circle"></i>
        <h2>Inscription</h2>
    </div>
    <form class="input-form" (ngSubmit)="registerUser()" #registerForm="ngForm">
        <div class="input-field">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="* Indentifiant exe : Matricule, Id, etc" required="" name="id"
                [(ngModel)]="id">
        </div>
        <div class="input-validation">
            <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary">Inscrire</button>
        </div>
    </form>
</div>

<div class="user-card">
    <div class="header">
        <div class="title-card">
            <i class="uil uil-info-circle"></i>
            <h2>Empreintes</h2>
        </div>
        <div>
            <h2>19300827</h2>
        </div>
    </div>
    <p>Utiliser le logiciel <b>Eqimaid</b> pour que le système capture l'empreinte.
        Le système numérisera ensuite votre empreinte et enregistrera les données.</p>
    <div class="action-button">
        <button class="btn btn-primary">Visualiser</button>
        <button class="btn btn-secondary">Ajouter</button>
    </div>
</div>