<div class="left">
    <div class="sidebar">
        <a class="menu-item">
            <span><i class="uil uil-home"></i></span><h3>Home</h3>
        </a>
        <a class="menu-item" [routerLink]="'sign-on'" routerLinkActive="active">
            <span><i class="uil uil-user-plus"></i></span><h3>Inscription</h3>
        </a>
        <a class="menu-item" [routerLink]="'sign-in'" routerLinkActive="active">
            <span><i class="uil uil-user-check"></i></span><h3>Identification</h3>
        </a>
        <a class="menu-item">
            <span><i class="uil uil-setting"></i></span><h3>Paramètre</h3>
        </a>
    </div>
</div>