<ng-container *ngIf="
    {
        appState: appState$ | async,
        fingerState: fingerState$ | async,
        showLoader: showLoader$ | async,
        hasRegistered: hasRegistered$ | async
    } as vm">
    <div class="form-card">
        <div class="title-card">
            <i class="uil uil-keyhole-circle"></i>
            <h2>Inscription</h2>
        </div>
        <form class="input-form" (ngSubmit)="registerUser()" #registerForm="ngForm">
            <div class="input-field">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="* Indentifiant exe : Matricule, Id, etc" required name="uid"
                    [(ngModel)]="user.uid">
            </div>
            <div class="input-validation">
                <button [disabled]="registerForm.invalid || vm.showLoader" type="submit"
                    class="btn btn-primary">
                    <span *ngIf="vm.showLoader">Enregistrement...</span>
                    <span *ngIf="!vm.showLoader">Inscription</span>
                </button>
            </div>
        </form>
    </div>

    <ng-container *ngIf="vm.showLoader">
        <eq-loading></eq-loading>
    </ng-container>

    <ng-container *ngIf="vm.hasRegistered">
        <div class="user-card">
            <div class="header">
                <div class="title-card">
                    <i class="uil uil-info-circle"></i>
                    <h2>Empreintes</h2>
                </div>
                <div>
                    <h2>{{user_info}}</h2>
                </div>
            </div>
            <p>Utiliser le logiciel <b>Eqimaid</b> pour que le système capture l'empreinte.
                Le système numérisera ensuite votre empreinte et enregistrera les données.</p>
            <div class="action-button">
                <button class="btn btn-primary">Visualiser</button>
                <button class="btn btn-secondary" (click)="onAddFingerprint()">Ajouter</button>
            </div>
        </div>
    </ng-container>
</ng-container>